.ui input{
    height: 35px;
    width: 95%;
    margin-bottom: 50px;
}

.items{
    border: 1px solid rgb(238, 237, 237);
    line-height: 50px;
    margin-top: 0px;
}

.item:hover{
    background-color: rgb(190, 219, 245);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid aliceblue;
    height: 45px;
}

.input-text{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    background-color:rgb(233, 227, 227) ;
    margin-right: 5px;
}

.text{
    justify-content: space-between;
    /* background-color:rgb(233, 227, 227) ; */
    padding: 2px;
    
}

.cross:hover{
    color: rgb(206, 39, 39);
    background-color: rgb(248, 139, 139);
}

.cross{
    margin-left: 6px;
    padding-left: 2px;
}

.input-field{
    border: none;
    background-color: transparent;
    /* resize: none; */
    outline: none;
}