.ui input{
    height: 40px;
    width: 95%;
    margin-bottom: 50px;
}

.items{
    border: 1px solid none;
    /* background-color: aliceblue; */
    line-height: 50px;
    margin-top: 0px;
}

.item:hover{
    background-color: rgb(190, 219, 245);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-text{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.text{
    justify-content: space-around;

}